@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&family=Rubik&display=swap');
*,
::after,
::before
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	background-color: #fff;
	height: 60px;
	border-bottom: solid 1px #ccc;
}

.user
{
	position: absolute;
	right: 20px;
	top: inherit;
	display: flex;
	align-items: center;
}

.user img
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
	box-shadow: 0 0 2px #777;
}

.actions
{
	display: flex;
	flex-direction: column;
}

.actions a
{
	text-decoration: none;
	color: #000;
	font-weight: bolder;
}

body
{
	font-family: 'Rubik', sans-serif;
}

.content
{
	position: absolute;
	top: 120px;
	left: 50%;
	transform: translate(-50%);
	width: 100%;
	padding: 20px;
	max-width: 1080px;
	border: solid 1px #ccc;
	border-radius: 8px;
}

table
{
	border-collapse: collapse;
	width: 100%;
}

th
{
	text-align: left;
	padding: 8px;
}

td:first-child
{
	padding-left: 8px;
}

td:not(td:first-child)
{
	padding-left: 14px;
}

td
{
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	text-align: left;
}

th, tr
{
	border-bottom: solid 1px #ccc;
}

th:not(th:first-child)::before
{
	content: '';
	display: inline;
	margin-right: 4px;
	width: 1px;
	height: 18px;
	border-left: 1px solid #ccc;
}

form
{
	display: flex;
	align-items: center;
}

input[type='submit']
{
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	height: 40px;
	padding: 6px;
	margin-left: 10px;
	border-radius: 4px;
	width: 25%;
	cursor: pointer;
}

input[type='submit'].primary
{
	border: none;
	background-color: #4c74af;
	color: #fff;
}

input[type='submit'].secondary
{
	border: solid 1px #ccc;
	background-color: #FFF;
	color: #000;
}
td:last-child
{
	display: flex;
	justify-content: end;
	align-items: center;
}

input[type='submit'].delete
{
	min-width: 100px;
	border: none;
	background-color: #ff0000;
	color: #fff;
}

.carrito:hover
{
	color: #4c74af;
	transition: 0.2s;
}

.logout:hover
{
	color: #ff0000;
	transition: 0.2s;
}

.nav
{
	margin-right: 8px;
	display: flex;
	justify-content: end;
	align-items: center;
}

.nav>form>input
{
	margin-top: 10px;
	min-width: 100px;
}