@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&family=Rubik&display=swap');
*,
::after,
::before
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	background-color: #fff;
	height: 60px;
	border-bottom: solid 1px #ccc;
}

.user
{
	position: absolute;
	right: 20px;
	top: inherit;
	display: flex;
	align-items: center;
}

.user img
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
	box-shadow: 0 0 2px #777;
}

.actions
{
	display: flex;
	flex-direction: column;
}

.actions a
{
	text-decoration: none;
	color: #000;
	font-weight: bolder;
}

body
{
	font-family: 'Rubik', sans-serif;
}

.tabs
{
	position: absolute;
	top: -40px;
	left: 0;
}

.tabs>a
{
	display: inline-block;
	text-decoration: none;
	color: #000;
	font-weight: bolder;
	margin: 10px 20px;
}

.tabs>a.active::after
{
	content: '';
	margin-top: 2px;
	display: block;
	width: 100%;
	height: 4px;
	background-color: #4c74af;
	border-radius: 4px;
	animation: rise 0.25s ease-in-out;
	animation-fill-mode: forwards;
	transform: translateY(10px);
	opacity: 0;
}

@keyframes rise
{
	0%
	{
		transform: translateY(10px);
	}
	90%
	{
		transform: translateY(-5px);
	}
	100%
	{
		transform: translateY(-2px);
		opacity: 1;
	}
}

.content
{
	position: absolute;
	top: 120px;
	left: 50%;
	transform: translate(-50%);
	width: 100%;
	padding: 20px;
	max-width: 1080px;
	border: solid 1px #ccc;
	border-radius: 8px;
}

table
{
	border-collapse: collapse;
	width: 100%;
}

th
{
	text-align: left;
	padding: 8px;
}

td:first-child
{
	padding-left: 8px;
}

td:not(td:first-child)
{
	padding-left: 14px;
}

td
{
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	text-align: left;
}

th, tr
{
	border-bottom: solid 1px #ccc;
}

th:not(th:first-child)::before
{
	content: '';
	display: inline;
	margin-right: 4px;
	width: 1px;
	height: 18px;
	border-left: 1px solid #ccc;
}

input
{
	font-family: 'Rubik', sans-serif;
	height: 40px;
	padding: 10px;
	border-radius: 2px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid 1px #555;
	width: 70%;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, .7);
	caret-color: transparent;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
{
	-webkit-appearance: none;
	background: #FFF url("../res/icn/spin_icon.svg") no-repeat center center;
	width: 1em;
  opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
  position: absolute;
  top: 0;
  right: 2px;
  bottom: 0;
}

form
{
	display: flex;
	align-items: center;
}

input:focus
{
	outline: none;
}

input[type="submit"]
{
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	height: 40px;
	padding: 6px;
	margin-left: 10px;
	border-radius: 4px;
	width: 35%;
	border: none;
	background-color: #4c74af;
	color: #fff;
	cursor: pointer;
}

.carrito:hover
{
	color: #4c74af;
	transition: 0.2s;
}

.logout:hover
{
	color: #ff0000;
	transition: 0.2s;
}

.popup
{
	position: absolute;
	top: -20px;
	left: 50%;
	transform: translateX(-50%);
	width: 550px;
	padding: 20px;
	opacity: 0;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, .7);
	z-index: 1;
	display: none;
}

.popup.show
{
	transform: translateX(-50%) translateY(40px);
	transition: 0.2s;
	animation: popup 1s ease-in-out;
	animation-direction: alternate-reverse;
	animation-fill-mode: forwards;
	animation-iteration-count: 2;
	display: flex;
}

.popup.show-static
{
	top: 20px;
	transform: translateX(-50%) translateY(40px);
	opacity: 1;
	animation: none;
}

.popup-icon
{
	position: absolute;
	
	width: 64px;
	height: 70%;
	margin-right: 10px;
	padding-right: 10px;
}

.popup-body
{
	margin-left: 76px;
}

.popup-title
{
	padding-bottom: 8px;
}

.popup-content
{
	padding-top: 4px;
}

img
{
	width: 100%;
	height: 100%;
}

@keyframes popup
{
	0%
	{
		opacity: 1;
		transform: translateX(-50%) translateY(40px);
	}
	50%
	{
		opacity: 1;
		transform: translateX(-50%) translateY(40px);
	}
	100%
	{
		opacity: 0;
		transform: translateX(-50%) translateY(-20px);
	}
}